body {
  font-family: sans-serif;
}
.encabezado {
  background-color: #fcf8e8;
  text-align: justify;
  width: auto;
  display: flex;
  --flex-direction: column;
}
.encabezadoMenu {
  background-color: #fcf8e8;
  text-align: left;
  width: 800px;
  display: flex;
  flex-direction: column;
}
.encabezadoLogo {
  background-color: #fcf8e8;
  text-align: right;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.contenedorCuerpo {
  background-color: #a8d6b8;
  width: auto;
  --display: flex;
}
.contenedorCuerpo1 {
  background-color: #a8d6b8;
  width: auto;
  display: flex;
}
.contenedorCuerpo2 {
  background-color: #a8d6b8;
  width: auto;
  display: flex;
}
.divLogo {
  background-color: #76549a;
  justify-content: space-around;
  width: auto;
  width: 280px;
  height: 20px;
  border: 2px solid #6a498e;
  margin: 5px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.divMenu1 {
  background-color: #cba0ae;
  width: auto;
  width: 580px;
  height: 25px;
  border: 2px solid #bf8e9e;
  --margin: 20px;
  margin-left: 262px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.divMenu2 {
  background-color: #bf8e9e;
  width: auto;
  width: 780px;
  height: 25px;
  border: 2px solid #af6980;
  margin: 8px;
  margin-left: 62px;
  display: inline;
}
.divDerecha {
  background-color: #e38d7a;
  justify-content: space-around;
  width: 412px;
  height: 240px;
  border: 2px dashed #94b49f;
  margin: 8px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.divIzquierda {
  background-color: #e78772;
  justify-content: space-around;
  width: 412px;
  height: 240px;
  border: 2px dashed #94b49f;
  margin: 8px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.divCentro {
  background-color: #94b49f;
  justify-content: space-around;
  width: 412px;
  height: 240px;
  margin: 0 auto;
  border: 2px dashed #94b49f;
  margin: 8px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.divIzquierda2 {
  background-color: #76549a;
  justify-content: space-around;
  width: 850px;
  height: 180px;
  border: 2px dashed #e38d7a;
  margin: 8px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.divDerecha2 {
  background-color: #8f65bb;
  justify-content: space-around;
  width: 412px;
  height: 180px;
  border: 2px dashed #e38d7a;
  margin: 8px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.pie {
  background-color: #fcf8e8;
  justify-content: space-around;
  width: auto;
  display: flex;
  --flex-direction: column;
}
.divElemento {
  background-color: #94b49f;
  justify-content: space-around;
  width: 280px;
  height: 20px;
  border: 2px solid #6a498e;
  margin: 5px;
  margin-left: 910px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  --display: inline-flex;
}
