body {
  font-family: sans-serif;
}
.encabezado {
  background-color: blueviolet;
  text-align: justify;
  width: auto;
  display: flex;
}
.contenedorCuerpo {
  background-color: gray;
  width: auto;
  --display: flex;
}
.contenedorCuerpo1 {
  background-color: gray;
  width: auto;
  display: flex;
}
.contenedorCuerpo2 {
  background-color: gray;
  width: auto;
  display: flex;
}
.divMenu1 {
  background-color: gray;
  width: auto;
  width: 580px;
  height: 20px;
  border: 5px dashed black;
  margin: 20px;
  --margin-left: 720px;
  display: inline;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.divMenu2 {
  background-color: rgb(224, 113, 113);
  width: auto;
  width: 780px;
  height: 20px;
  border: 5px dashed black;
  margin: 20px;
  margin-left: 620px;
  display: inline;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.divDerecha {
  background-color: yellowgreen;
  width: 380px;
  height: 150px;
  border: 5px dashed black;
  margin: 20px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.divIzquierda {
  background-color: yellow;
  width: 380px;
  height: 150px;
  border: 5px dashed black;
  margin: 20px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.divCentro {
  background-color: orangered;
  width: 380px;
  height: 150px;
  margin: 0 auto;
  border: 5px dashed black;
  margin: 20px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.divIzquierda2 {
  background-color: rgb(245, 159, 128);
  width: 820px;
  height: 150px;
  border: 5px dashed black;
  margin: 20px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.divDerecha2 {
  background-color: yellowgreen;
  width: 380px;
  height: 150px;
  border: 5px dashed black;
  margin: 20px;
  display: inline;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.pie {
  background-color: gainsboro;
  text-align: justify;
  width: 250%;
  height: 20%;
}
